.darkmode body {
    background-color: #0d1b2a;
}

/* header */

.darkmode .deserts {
    color: #FFB347;
}

/* .theme_change {
    border-color: #0d1b2a;
} */

.darkmode .theme_change:hover {
    border: 2px solid #FFB347;
}

/* section1 */

.darkmode .add_chart {
    background-color: #6f4f28;
    border-color: #6f4f28;
}

.darkmode .add_to_chart {
    color: #FDF6EC;
}

.darkmode .name {
    color: #9CA3AF;
}

.darkmode .full_name {
    color: #FF6F61;
}

.darkmode .your_cart {
    color: #FFB347;
}